* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#contact-upper-container {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  background-color: #711e1e;
  padding: 10px 0 0 0;
  font-size: 16px;
  color: #ffffff;
}

#contact-upper-container div {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 150px 0 0;
}

#contact-upper-container img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

#contact p {
  font-size: 16px;
  margin: 0;
}
#navigation-bar {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 10px;
}
#navigation-img {
  margin-right: 150px;
  width: 120px;
}
#navigation-img > img {
  margin-right: 150px;
  width: 120px;
}
#navigation-links > a {
  text-decoration: none;
  color: #1c214d;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  outline: none;
}
#navigation-bar > span {
  visibility: hidden;
}
#about-company {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  place-content: center;
  text-align: center;
  padding: 50px;
  margin-left: 80px;
}
#about-content > h1 {
  color: #621d23;
  font-size: 45px;
}
#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  color: #5a4c4c;
}
#p1 {
  padding: 20px;
}
#p2,
#p3 {
  padding: 20px;
}
#p4 {
  color: #0c0a0a;
  font-weight: 500 bold;
}
#about-company > img {
  width: 350px;
  margin-left: 40px;
}

/* footer start */
footer {
  background: url("../img/bottom.avif") no-repeat center center/cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-content: center;
  color: white;
  padding: 30px 20px;
  text-align: start;
  font-family: Arial, sans-serif;
  opacity: 0.9;
  z-index: 1;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  grid-column: 2/4;
}
#contact img {
  width: 26px;
  height: 26px;
}
#contact div {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  max-width: 250px;
}

#contact p {
  margin: 0;
}

#second-contact {
  grid-column: 5/9;
  width: 50%;
  text-align: start;
  align-items: end;
  margin-bottom: 20px;
}

#second-contact p {
  margin-bottom: 10px;
  font-size: 1rem;
}

#second-contact button {
  background-color: #711e1e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#second-contact button:hover {
  background-color: #0c0a0a63;
  transition: all 1s ease-in;
}

#second-contact img {
  margin-bottom: -15px;
  object-fit: cover;
}

#copyright {
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/8;
  text-align: center;
}
#msg-container {
  position: fixed;
  left: 90%;
  padding: 30px;
  z-index: 1;
}
#msg-container button {
  padding: 10px;
  cursor: pointer;

  box-shadow: 1px 2px 5px 0px;
}
#social-media-container {
  visibility: hidden;
  display: none;
}

/* mobile responsive start*/
@media screen and (max-width: 720px) {
  #contact-upper-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  #contact-upper-container div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 150px 0 0;
  }

  #contact-upper-container img {
    width: 20px;
    height: 20px;
    margin: 10px;
  }

  #contact p {
    font-size: 16px;
    margin: 0;
  }

  #navigation-bar {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
  #navigation-img {
    margin-right: 0px;
  }
  #navigation-img > img {
    margin-right: 10px;
    width: 100px;
  }
  #navigation-links > a {
    visibility: hidden;
  }
  #navigation-bar > span {
    background-color: #711e1e;
    color: white;
    padding: 10px;
    margin-right: 30px;
    visibility: visible;
  }
  #welcome-container {
    background-size: cover;
    height: 250px;
    margin-bottom: 10px;
  }
  #welcome-txt h1 {
    font-size: 32px;
    font-weight: 400;
  }
  #welcome-txt > h1,
  #welcome-txt > h3 {
    color: #f8e1af;
  }
  #welcome-txt > h3 {
    color: #f3f3f3;
    padding: 15px;
    font-size: 15px;
  }
  #welcome-txt {
    padding: 0px;
  }
  #veeneer-container {
    height: 350px;
    margin-bottom: 10px;
  }
  #veneer-txt {
    color: #fff;
    margin-bottom: 0px;
  }
  #veneer-txt > h1 {
    font-weight: bold 900;
    font-size: 40px;
    letter-spacing: -4px;
  }
  #veneer-txt > p {
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 10px;
  }
  #veneer-inner-txt {
    margin-right: 15px;
  }
  #veneer-image > img {
    width: 150px;
    height: 150px;
  }

  #wood-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #ebe8e8;
  }
  .img > img {
    width: 245px;
    padding: 10px;
  }
  .img-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    text-align: center;
    align-items: center;
    gap: 20px;
  }
  #wood-txt,
  #btn-container {
    margin-left: 0px;
  }
  #wood-txt > h1 {
    letter-spacing: -3px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #about-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 10px;
    margin-left: 0px;
  }
  #about-content > h1 {
    color: #621d23;
  }
  #about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    color: #5a4c4c;
  }
  #p1 {
    padding: 10px;
  }
  #p2,
  #p3 {
    padding: 10px;
  }
  #p4 {
    color: #0c0a0a;
    font-weight: 500 bold;
  }
  #about-company > img {
    width: 100%;
    margin-left: 0px;
  }
  footer {
    background: url("../img/bottom.avif") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px 20px;
    text-align: start;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }
  #contact img {
    width: 26px;
    height: 26px;
  }
  #contact div {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    gap: 10px;
    text-align: left;
    max-width: 250px;
  }

  #contact p {
    margin: 0;
    text-align: start;
    font-size: 13px;
  }

  #second-contact {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    text-align: justify;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }

  #second-contact p {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  #second-contact button {
    z-index: 1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  #second-contact img {
    margin-bottom: 0px;
    object-fit: cover;
    height: 50px;
    width: 80px;
    z-index: 1;
  }

  #copyright {
    justify-content: start;
  }

  /* footer end */

  #msg-container {
    display: none;
  }
  #social-media-container {
    display: flex;
    visibility: visible;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  #social-media-container > img {
    height: 30px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
  }
}
/* mobile responsive end*/
